body{
  margin:0;
  font-family:Helvetica Rounded,Arial Rounded,Helvetica,Arialsans-serif;
  animation:bgscroll 5s linear infinite;
  background:#000 url(wishingstar.gif) repeat;
  color:#32cd32;
  text-shadow:2px 2px #000;
}

a{color:#0080ff;}
a:visited{color:#0064c5;}
a::hover,a::active{color:#0088ff;}

@keyframes bgscroll{from{background-position:0 0;}to{background-position:0 718px;}}

.side-nav{
  position:fixed;
  top:0;
  left:0;
  width:128px;
  height:100%;
  overflow:hidden;
  background:#000d;
  backdrop-filter:blur(8px);
  z-index:1;
}
.side-nav::after{
  content:'';
  position:fixed;
  width:12px;
  height:100%;
  margin-left:128px;
  background:linear-gradient(90deg,#0008,#0000);
  z-index:99;
}
.side-nav img{
  display:block;
  margin:0 auto;
}
.side-nav ul{
  margin:0;
  padding:0;
  list-style:none;
}
.side-nav a{
  display:block;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  color:#fff;
  font-size:18px;
  transition:background-color 0.3s ease;
}
.side-nav a:hover{
  background-color:#fff2;
}

.main{
  margin-left:128px;
  background:#10000040;
  color:#ff6ac1;
}

header{
  padding:12px 0;
  background:linear-gradient(#a00000,#0000);
}
header h1,header h2{
  margin:0;
  text-align:center;
}
header h1{
  font-variant:small-caps;
  letter-spacing:4px;
  margin-bottom:8px;
}

.content{margin:12px;}
.content h1{
  font-size:24px;
}

.audioscope-container{
  border:8px ridge #a0000080;
  margin-bottom:8px;
}
.audioscope-separator{
  margin:1px 0;
  border-top:8px ridge #a0000080;
}

footer{
  text-align:center;
  padding:6px 0;
  background:linear-gradient(#0000,#a00000);
  color:#fff;
}

audio{
  width:100%;
  background:#100000c0;
  margin-top:-1px;
  margin-bottom:-3px;
}
audio::-webkit-media-controls-enclosure{
  background:#0000;
  border-radius:0;
  filter:invert(1);
}

@media(max-width:760px){
  .main{margin-left:0;}
  .side-nav{transform:translateX(-128px);}
  .side-nav.show{animation:slideOut 0.5s ease-out forwards;}
  .side-nav.hide{animation:slideIn 0.5s ease-out forwards;}
  @keyframes slideIn{from{transform:translateX(0);}to{transform:translateX(-128px);}}
  @keyframes slideOut{from{transform:translateX(-128px);}to{transform:translateX(0);}}
}

@media(prefers-reduced-motion:reduce){ /* Disable animation if the user has "Reduce motion" enabled */
  body{animation:none;}
  .side-nav a{transition:none;}
}