body {
  margin: 0;
  background: #000 url(wishingstar.gif) repeat; 
  font-family: "Arial Rounded MT Bold", sans-serif;
  color: #32cd32;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding-top: 20px;
  overflow-y: auto;
  background: #000;
  z-index: 1;
}

.sidenav img {
  display: block;
  margin: 0 auto;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav a {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.sidenav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main {
  margin-left: 200px;
  padding: 20px;
  color: #ff6ac1;
}
.content {
  color: #ff6ac1;
}

header h1, header h2 {
  text-align: center;
}

.content {
  margin-top: 30px;
  color: #ff6ac1;
}

.content h1 {
  font-size: 24px;
  color: #ff6ac1; 
}

footer {
  text-align: center;
  color: #fff;
}
audio::-webkit-media-controls-enclosure {
  background: #ff6ac1; 
  border-radius: 10px;
}

